.adding-transaction {

}

.container {
    padding-top: 100px;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.field {
    margin-bottom: 20px;
    width: calc(100% / 2 - 10px);

    &:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

.save {
    margin: 20px auto 0;
}
